<div class="row-fluid">
	<div class="input-append date span12" data-area="date">
		<input class="span6" type="text" data-input="date">
	  <span class="add-on" data-span="calender_icon">
	  	<i class="fa fa-calendar"></i>
	  </span>
	</div>
</div>