<p>
  <strong>Name:</strong>
  <%= frankie_in_place @client, :name %>
</p>
<p>
  <strong>Email:</strong>
  <%= frankie_in_place @client, :email %>
</p>
<p>
  <strong>Site URL:</strong>
  <%= frankie_in_place @client, :site_url %>
</p>

<%= render :partial => 'layouts/btn_group', :locals => {:instance => @client, :buttons => ["Edit"]} %>
