<form data-form="new" class="well">
  {{= JST["templates/new_form_widget/new_form_attribute"]({object:"notice", attribute: "header", type:"input", rules:{required:"true"} } ) }}

  {{= JST["templates/new_form_widget/new_form_attribute"]({object:"notice", attribute: "body", type:"textarea", rules:{required:"true"} } ) }}
</form>