<div class="group" data-notice="{{= id }}">
    <h3>{{= header }}
    </h3>

    <div>
      <div class="buttons" style="float:right">
         <a class="btn btn-danger" data-button="delete" style="color:white;">Delete</a>
      </div>
      <p> {{= JST["templates/frankie_widget/edit_in_place"]({text: body, url: '/notices/' + id, object: 'notice', attribute: 'body', type: 'textarea', clazz: 'input-large', widget: widget}) }}</p>
    </div>
  </div>