<span data-action="best_in_place" data-url="{{=url}}" data-object="{{=object}}" data-attribute="{{=attribute}}" data-type="{{=type}}">{{= text }}</span>
<img data-img="img_in_place" class="img_in_place" src="/assets/pen.jpeg">