<div data-area="description" class="description row-fluid">
	<div class="span1">
		<img src="/assets/information-icon.png" width="20" height="20" alt="Sorry could not display image"/>
	</div>
	<div class="span10">
		<p>{{=description}}</p>
	</div>
	<div class="span1">
		<img src="/assets/information-icon.png" width="20" height="20" alt="Sorry could not display image"/>
	</div>
</div>