<div data-widget="edit_in_place" data-belong-to="{{= widget }}" data-url="{{=url}}" data-object="{{=object}}" data-attribute="{{=attribute}}" data-type="{{=type}}" data-clazz="{{=clazz}}">
	<span class="edit_in_place" data-span="text">{{= text }}</span>
</div>