<form data-form="new" class="well">
	<div class="field">
    <label for="team_name">Name</label>
    <input type="text" id="team_name" name="team[name]" data-rule-required="true"></input>
  </div>
</form>