<p>
  <strong>Name:</strong>
  <%= frankie_in_place @player, :name %>
</p>

<p>
  <strong>Age:</strong>
  <%= frankie_in_place @player, :age %>
</p>

<p>
  <strong>Number:</strong>
  <%= frankie_in_place @player, :number %>
</p>

<%= render :partial => 'layouts/btn_group', :locals => {:instance => @player, :buttons => ["Edit", "Back"]} %>



