<div data-area="game" data-game="{{= id }}" style="padding: 20px 20%;">
	<table class="table table-hover table-condensed">
		<tbody>
			<tr style="background-color:lightgray">
				<td style="text-align:center" colspan="5">DATE-TIME</td>
			</tr>
			<tr>
				<td style="text-align:right">{{= home_team.name }}</td>
				<td style="text-align:right">{{= home_team_score }}</td>
				<td style="text-align:center">-</td>
				<td style="text-align:left">{{= away_team_score }}</td>
				<td style="text-align:left">{{= away_team.name }}</td>
			</tr>
		</tbody>
	</table>
</div>