<div data-area="team_form">
<h3>Register a team</h3>
	<form data-form="team" accept-charset="UTF-8">
			<div class="field">
			    <label>Name</label>
			    <input data-input="team_name" name="team[name]" type="text" data-rule-required="true">
			    <br>
			    <a data-button="add_player" class="btn" href="javascript:void(0)" >Add a player</a>
			 </div>
			  <br>
				<div data-area="players"></div>
			  <div class="actions" style="width:100%; display:inline-block; margin-top: 30px">
			    <a data-button="submit" class="btn btn-primary">Create Team</a>
			  </div>
			</div>
	</form>
</div>
<div data-area="team_accordion"></div>