<form data-form="new" class="well">
  {{= JST["templates/new_form_widget/new_form_attribute"]({object:"player", attribute: "name", type:"input", rules:{required:"true"} } ) }}

  {{= JST["templates/new_form_widget/new_form_attribute"]({object:"player", attribute: "age", type:"input", rules:{required:"true", number:"true", positive:"true", integer:"true"} } ) }}
	
  {{= JST["templates/new_form_widget/new_form_attribute"]({object:"player", attribute: "number", type:"input", rules:{required:"true", number:"true", positive:"true", integer:"true", "number-not-taken":"team"} } ) }}
</form>